includes:
    - phpstan-baseline.neon

parameters:
    tmpDir: %currentWorkingDirectory%/build/cache/phpstan
    level: 7
    paths:
        - src
    checkMissingIterableValueType: false
    checkGenericClassInNonGenericObjectType: false
